/* CSS declarations go here */

body {
    max-width: 768px;
    margin: 0 auto;
    font-size: 16px;
    background: #343838;
}

.container {
    width: 100%;
    background: #f1faff;
    font-size: 3em;
}

.row {
    padding: 0.2em 0.2em;
}

.heading {
    background: #005F6B;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 4em;
    font-weight: bold;
    padding: 0.5em 0em;
}

#smoke, #viz {
    line-height: 3em;
}
