/* CSS declarations go here */
html, body, .fullHeight {
    height: 100%;
}

body {
    max-width: 768px;
    margin: 0 auto;
    font-size: 16px;
    background: #343838;
}

.container {
    width: 100%;
    background: #D5D5FF;
    font-size: 3em;
}

.row {
    padding: 0.2em 0.2em;
    border: 1px solid grey;
}

.heading {
    background: #3635AD;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 4em;
    font-weight: bold;
    padding: 0.5em 0em;
}

input {
    width: 100%;
    margin-top: 17%;
}

.log {
    border-radius: 21px;
    padding: 4%;
    margin: 3% 30%;
    width: 37%;
}

.activityLabel {
    line-height: 3em;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 35%;
}

#vizIframe {
    position: relative;
    height: 100%;
    width: 100%;
}

.nav-links {
    width: 100px;
    overflow: hidden;
    margin-right: 50px;
}

.nav-icon {
    font-size: 2em;
}