html, body, .fullHeight {
    height: 100%;
}

body {
    margin: 0 auto;
    font-size: 16px;
    color: #30363e;
    font-family: raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    background: #D5D5FF;
    font-size: 1.5em;
    padding-right: 0px;
    padding-left: 0px;
}

.spacer {
    padding: 0.2em 0.2em;
}

.heading {
    background: #30363e;
    color: #84c341;
    text-align: center;
    width: 100%;
    font-size: 2em;
    font-weight: 100;
    padding: 0.5em 0em;
    letter-spacing: 0.04em;
}

input {
    width: 100%;
    margin-top: 17%;
}

.log {
    border-radius: 21px;
    padding: 4%;
    margin: 3% 30%;
    width: 37%;
}

.activityLabel {
    line-height: 3em;
}

.footer {
    position: fixed;
    bottom: 1%;
    width: 100%;
}

#pendingEvents {
    font-size: 14px;
    width: 100%;
    text-align: center;
}

#vizIframe {
    position: relative;
    height: 77%;
    width: 100%;
}

.nav-links {
    width: 50px;
    overflow: hidden;
    font-size: 16px;
}

.nav-icon {
    font-size: 2em;
}

.validation-error {
    border: 3px solid red;
}

.footer-element-container {
    width: 110px;
    margin: 0 auto;
}